@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
	--primary-color: #007af3;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #f2f2f2;
	margin: 0;
	font-family: 'Poppins';
}

.navbar {
	background: white;
	padding: 1em;

	img.mobile-menu {
		cursor: pointer;
		width: 1.5em;
	}

	a.logo {
		text-decoration: none;
		font-weight: bold;
		color: black;
		font-size: 1.3em;
		cursor: pointer;
	}

	span {
		color: var(--primary-color);
	}

	nav {
		display: none;
	}

	.container {
		display: flex;
		place-content: space-between;
	}
}

a {
	color: #444444;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section {
	padding: 5em 2em;
}

section.hero {
	margin: 2.6em 0em;
	text-align: center;
}

.left-col {
	p.subhead {
		text-transform: uppercase;
		font-weight: bold;
		color: #444444;
		letter-spacing: 0.2em;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1.5em;
		margin: 0.5em 0em;
	}

	a.main-cta {
		background: var(--primary-color);
		color: white;
		text-decoration: none;
		padding: 0.7em 1.3em;
		font-size: 1.2em;
		border-radius: 3em;
		font-weight: bold;
		display: inline-block;
	}

	a.watch-video-cta {
		display: block;
		margin-top: 1em;

		img {
			margin-right: 0.5em;
		}
	}
}

img.hero-image {
	width: 80%;
	margin-top: 3em;
}

section.features {
	background: #14212e;
	color: white;
}

ul.features-list {
	margin-top: 0.7em;
	padding-left: 3.7em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

	li {
		font-size: 1.1em;
		margin-bottom: 1em;
		margin-left: 2em;

		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			background-image: url(../images/checkmark.svg);
			background-size: contain;
			margin-left: -1.5em;
			margin-top: 0.2em;
		}
	}
}

section.features img {
	display: none;
}

section.testimonies {
	background: var(--primary-color);

	ul {
		margin-top: 4em;

		li {
			background: #0063c5;
			color: white;
			text-align: center;
			padding: 2em 1em;
			margin: 0 auto 5em auto;
			border-radius: 2em;
			width: 80%;
			img {
				margin-top: -4.5em;
				width: 5em;
				height: 5em;
				border: var(--primary-color) solid 5px;
				border-radius: 50%;
			}
		}
	}
}

h2 {
	font-size: 2em;
}

label {
	display: block;
	font-size: 1.2em;
	margin-bottom: 0.2em;
}

input,
textarea {
	width: 100%;
	margin-bottom: 1.5em;
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 0.5em;
	box-sizing: border-box;
}

input[type='submit'] {
	background: var(--primary-color);
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: none;
	border-radius: 5em;
	margin-bottom: 5em;
	padding: 0.8em 2em;
	width: unset;
	cursor: pointer;
}

iframe {
	width: 100%;
	height: 400px;
}

nav.menu-btn {
	display: block;
}

nav {
	background: #14212e;
	position: fixed;
	width: 66%;
	right: 0;
	top: 0;
	height: 100vh;
	padding: 1em;

	ul.main-nav {
		margin-top: 5em;
	}

	li {
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: 0.5em;
			font-size: 1.2em;
			text-align: right;

			&:hover {
				font-weight: bold;
				color: var(--primary-color);
			}
		}
	}
}

img.mobile-menu-exit {
	cursor: pointer;
	margin: 0.5em;
}

@media only screen and (min-width: 770px) {
	.mobile-menu,
	.mobile-menu-exit {
		display: none;
	}

	.navbar {
		.container {
			display: grid;
			grid-template-columns: 130px auto;
		}

		nav {
			display: flex;
			justify-content: space-between;
			background: none;
			position: unset;
			width: 100%;
			height: auto;
			padding: 0;

			ul {
				display: flex;

				a {
					color: black;
					font-size: 1em;
					padding: 0.1em 1em;
				}
			}

			ul.main-nav {
				text-align: center;
				margin: 0em 4em 0em 0em;
			}

			li.current a {
				font-weight: bold;
			}

			li.go-premium a {
				color: var(--primary-color);
				font-weight: bold;
				border: 3px solid var(--primary-color);
				border-radius: 5em;
				margin-top: -0.2em;
				&:hover {
					background: var(--primary-color);
					color: white;
				}
			}
		}
	}
}

@media only screen and (min-width: 1080px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}

	section {
		padding: 10em 4em;
	}

	.hero {
		.container {
			margin: -2em 0em 2em 0em;
			display: flex;
			justify-content: space-between;
			text-align: left;

			.left-col {
				margin: 3em 3em 0em 5em;

				h1 {
					font-size: 3em;
					width: 80%;
				}

				.hero-cta {
					display: flex;

					.main-cta {
						margin-right: 1em;
					}
				}
			}

			.hero-image {
				width: 40%;
				margin-right: 8em;
			}
		}
	}

	section.features {
		ul.features-list {
			display: block;
			margin-left: 5em;

			li {
				font-size: 1.4em;

				&:before {
					width: 25px;
					height: 25px;
				}
			}
		}

		position: relative;

		img {
			display: block;
			position: absolute;
			right: 0;
			width: 400px;
			bottom: -3em;
		}
	}

	section.testimonies {
		ul {
			display: flex;
			justify-content: space-between;
			li {
				margin: 0em 1em;
			}
		}
	}

	section.contact {
		position: relative;

		.container {
			display: flex;
		}

		.contact-right {
			position: absolute;
			right: 0;
			top: 0;
			width: 45%;
			height: 100%;

			iframe {
				height: 100%;
			}
		}
	}
}

@media only screen and (min-width: 1450px) {
	section.features {
		ul.features-list {
			margin-left: 20em;
		}

		&::before {
			content: '';
			position: absolute;
			width: 10%;
			height: 20em;
			background: var(--primary-color);
			left: 0;
			top: -4em;
		}

		&::after {
			content: '';
			position: absolute;
			background: #0063c5;
			width: 6%;
			height: 15em;
			left: 0;
			top: 12em;
		}
	}
}
